body {
  font-family: Arial;
  margin: 0;
  background: #fafafa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #eee;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.hero {
  text-align: center;
  padding: 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.layout {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.sidebar {
  width: 200px;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

.item {
  margin-bottom: 50px;
}

.item img {
  width: 100%;
  border-radius: 10px;
}

.section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.section h2 {
  margin-bottom: 20px;
}

.kategori {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.kategori-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.kategori-card:hover {
  transform: translateY(-5px);
}

.about {
  text-align: center;
  max-width: 600px;
}
